<div>
    <button (click)="stand()">Stand</button>
    <button (click)="hit()">Hit</button>
    <button (click)="double()">Double</button>
  </div>
  
  <div>
    <label>Bet Amount:</label>
    <input type="number" [(ngModel)]="betAmount" aria-label="betAmount" name="betAmount"/>
    <button (click)="bet(betAmount)">Place Bet</button>
  </div>
  
  <div>
    <button (click)="leaveTable()">Leave Table</button>
    <button (click)="joinTable()">Join Table</button>
  </div>
  
  <div>
    <h3>Logs:</h3>
    <ul>
        <div *ngFor="let log of logs">
            <li style="color: red" *ngIf="log.logType == 1">{{ log.message }}</li>
            <li style="color: blue" *ngIf="log.logType == 2">{{ log.message }}</li>
            <li style="color: azure" *ngIf="log.logType == 3">{{ log.message }}</li>
            <li style="color: green" *ngIf="log.logType == 4">{{ log.message }}</li>
            <li style="color: greenyellow" *ngIf="log.logType == 5">{{ log.message }}</li>
            <li style="color: salmon" *ngIf="log.logType == 6">{{ log.message }}</li>
        </div>
    </ul>
  </div>