<div>
    <button (click)="stand()">Stand</button>
    <button (click)="hit()">Hit</button>
    <button (click)="double()">Double</button>
  </div>
  
  <div>
    <label>Bet Amount:</label>
    <input type="number" [(ngModel)]="betAmount" aria-label="betAmount" name="betAmount"/>
    <button (click)="bet(betAmount)">Place Bet</button>
  </div>
  
  <div>
    <button (click)="leaveTable()">Leave Table</button>
    <button (click)="joinTable()">Join Table</button>
  </div>
  
  <div>
    <h3>Logs:</h3>
    <ul>
      <li *ngFor="let log of logs">{{ log }}</li>
    </ul>
  </div>