.bj-container {
  display: flex;
  justify-content: center;
}

.bj-container-temp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.blackjack-table {
  background-color: green;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
}

.dealer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}

.dealer-slots {
  display: flex;
  flex-direction: row;
}

.dealer-title {
  color: white;
  text-align: center;
}

.dealer-card-slot {
  width: 120px;
  height: 160px;
  border: 1px solid #5a5454;
  margin-right: 1rem;
  border-radius: 1rem;
}

.dealer-card-slot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.player-slots {
  display: flex;
  justify-content: space-between;
  margin-top: 250px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.player-title {
  color: blueviolet;
}

.player-slot {
  width: 120px;
  height: 160px;
  border: 1px solid #5a5454;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.8); /* Initial box shadow */
  transition: box-shadow 0.5s ease-in-out; /* Smooth transition for box shadow */
}

.player-slot.active {
  animation: pulse 1s infinite alternate; /*Flashy yellow effect animation*/
}

.card-stack {
  position: relative;
}

.player-slot img {
  position: absolute;
  width: 120px;
  height: 160px;
  left: calc(25% * var(--index));
  top: calc(25% * var(--index));
  z-index: var(--index);
}

.animated-image {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 20px 5px rgba(255, 255, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 40px 10px rgba(255, 255, 0, 0.8);
  }
}

.bj-counter {
  text-shadow: #5a5454;
  font-size: larger;
  color: #e646d0;
}

.tb-bet-amount {
  width: 100px;
}
