<div class="bj-container-temp">
    <div class="bj-counter"> 
        {{bjCounter}}
        <br>
    </div>
    <div class="bj-counter"> 
        {{bjCounterForAction}}
        <br>
    </div>
    
    <div>
        <button *ngIf="isBtnHitShow" mat-fab color="primary" (click)="playAction('Hit')"> Hit </button>
        <button *ngIf="isBtnStandShow" mat-fab color="primary" (click)="playAction('Stand')"> Stand </button>
        <button *ngIf="isBtnDoubleShow" mat-fab color="primary" (click)="playAction('Double')"> Double </button>
        <button *ngIf="isBtnSplitShow" mat-fab color="primary" (click)="playAction('Split')"> Split </button>
    </div>

    <div class="bj-counter"> 
        Bakiye : {{currentUser?.balance}}
        <br>
    </div>
    <div class="bj-counter"> 
        Tebrikler {{winningAmount}} kazandınız!!
        <br>
    </div>
</div>

<div class="bj-container">
    <div class="blackjack-table">
        <!-- Dealer Slot -->
        <div class="dealer">
            <div class="dealer-title">
                <span>Dealer</span>
            </div>
            <div class="dealer-slots">
                <div *ngFor="let card of activeRoom?.table?.dealer?.hand?.cards; let i = index;">
                    <div class="dealer-card-slot"> 
                        <img  class="animated-image" [src]="'assets/images/deck/' + card.cardImg">
                    </div>
                </div>
            </div>
        </div>

        <!-- Player Slots -->
        <div class="player-slots">
            <div class="player" *ngFor="let spot of activeRoom?.table?.spots; let i = index">
                <div class="player-title" [hidden]="!spot">Player {{ i + 1 }}</div>
                <div class="player-slot">
                    <div class="card-stack" *ngFor="let card of spot?.hand.cards; let i = index" >
                        <img *ngIf="card?.cardImg" class="animated-image" [ngStyle]="{ '--index': i }"
                     [src]="'assets/images/deck/' + card?.cardImg">
                    </div>
                </div>
                <div class="player-card-value">Hand Value : {{spot?.hand?.handValue}}</div>
                <div class="player-card-value">Bet Amunt : {{spot?.betAmount}}</div>
                <button *ngIf="!spot?.player" mat-fab color="primary" (click)="sitPlayer(spot.id)"
                    aria-label="Example icon button with a delete icon">
                    <mat-icon>add_circle</mat-icon>
                </button>
                <button mat-fab color="primary" (click)="betPlayer(spot.id)"
                    aria-label="sdf">
                    <mat-icon>local_atm</mat-icon>
                </button>
            </div>
        </div>

        <!-- Bet Buttons -->
        <div class="bet-buttons" *ngIf="players[0]">
            <button>10</button>
            <button>20</button>
            <button>50</button>
        </div>
    </div>
</div>
