<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Oyuncu Bakiyeleri</mat-card-title>
      <mat-card-subtitle>Tüm Oyuncular</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div  *ngFor="let player of bjSimulation.players">
        <div fxLayout="row">
          <div fxFlex="30">
            <mat-icon aria-hidden="false" aria-label="person icon" fontIcon="person_apron"></mat-icon>
              <span>{{player.name}}</span>
          </div>
          <div fxFlex="30">
            <span *ngIf="player.losingStreak==0">Winnig Streak : {{player.winningStreak}}</span>
              <span *ngIf="player.losingStreak>0">Losing Streak : {{player.losingStreak}}</span>
          </div>
          <div fxFlex="30">
            <span>{{player.balance}} ₺</span>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
      
    </mat-card-content>
    <mat-card-actions >
      <button mat-raised-button color="primary">LIKE</button>
      <button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
    <!-- <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer> -->
</mat-card>